@page "/"
@inherits IndexComponent

<h1>Canvas demo!!!</h1>

<a href="/webgl">View WebGL page</a><br>

Welcome to your new app.

<BECanvas Width="300" Height="400" @ref="_canvasReference" ></BECanvas>