@page "/webgl"
@inherits WebGLComponent

<h1>Canvas demo!!!</h1>

<a href="/">View Canvas2d page</a><br>

Welcome to your new app.

<BECanvas Width="300" Height="400" ref="@canvasReference"></BECanvas>
